:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --SecondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
  width: 100%;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  color: yellow;
}
nav a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: yellow;
}
