/*Todo List Main Container*/
#todo-list-container {
  width: 500px;
  margin: 60px auto;
  min-height: calc(100vh - 160px);
}
/* Todo List Logo */
img {
  margin-left: 34%;
  height: 9rem;
}

/*Todo padding and margin*/
form,
.todo {
  padding: 20px 20px;
  margin-bottom: 10px;
}
/*Todo List todos border*/
.todo {
  border: 2px solid black;
  background-color: #29335c;
}
/*Form Styling*/
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}

.todo {
  display: flex;
  flex-direction: column;
}
/* Button Style*/
button {
  font-size: 16px;
  background-color: #db2b39;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
/*Button Hover*/
button:hover {
  background-color: rgb(173, 47, 28);
}
/*Styling Input Text*/
input[type="text"] {
  font-size: 17px;
}

/*todo checklist Style*/
.todo input[type="checkbox"] {
  transform: scale(1.8);
  margin: 0 16px 0 0;
  cursor: pointer;
}

/*Todo text*/
.todo-text {
  font-size: 20px;
  line-height: 24px;
  align-items: center;
}

.todotext {
  text-align: left;
  margin-bottom: 5px;
  font-size: 16px;
  color: white;
  padding: 5px 15px;
}
